CiaranONeill.NPV/CiaranONeill.NPV.Silverlight/Service References/NpvServiceReference/CiaranONeill.NPV.Calculator1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CiaranONeill.NPV.Calculator" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CiaranONeill.NPV.Calculator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="NpvRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cashflows" nillable="true" type="tns:ArrayOfCashflow" />
      <xs:element minOccurs="0" name="Increment" type="xs:double" />
      <xs:element minOccurs="0" name="InitialInvestment" type="xs:double" />
      <xs:element minOccurs="0" name="LowerRate" type="xs:double" />
      <xs:element minOccurs="0" name="RollType" type="tns:RolloverType" />
      <xs:element minOccurs="0" name="UpperRate" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NpvRequest" nillable="true" type="tns:NpvRequest" />
  <xs:complexType name="ArrayOfCashflow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cashflow" nillable="true" type="tns:Cashflow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCashflow" nillable="true" type="tns:ArrayOfCashflow" />
  <xs:complexType name="Cashflow">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:double" />
      <xs:element minOccurs="0" name="Period" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cashflow" nillable="true" type="tns:Cashflow" />
  <xs:simpleType name="RolloverType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Annual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Quarter">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Month">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RolloverType" nillable="true" type="tns:RolloverType" />
  <xs:complexType name="NpvResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="NetPresentValues" nillable="true" type="tns:ArrayOfNpv" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NpvResponse" nillable="true" type="tns:NpvResponse" />
  <xs:complexType name="ArrayOfNpv">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Npv" nillable="true" type="tns:Npv" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNpv" nillable="true" type="tns:ArrayOfNpv" />
  <xs:complexType name="Npv">
    <xs:sequence>
      <xs:element minOccurs="0" name="Rate" type="xs:double" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Npv" nillable="true" type="tns:Npv" />
</xs:schema>