CiaranONeill.NPV/CiaranONeill.NPV.Silverlight/Service References/NpvServiceReference/CiaranONeill.NPV.Calculator.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CiaranONeill.NPV.Calculator" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CiaranONeill.NPV.Calculator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfNpvData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NpvData" nillable="true" type="tns:NpvData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNpvData" nillable="true" type="tns:ArrayOfNpvData" />
  <xs:complexType name="NpvData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cashflow" type="xs:double" />
      <xs:element minOccurs="0" name="Period" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NpvData" nillable="true" type="tns:NpvData" />
  <xs:simpleType name="RolloverType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Annual">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Quarter">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Month">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">12</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RolloverType" nillable="true" type="tns:RolloverType" />
</xs:schema>