CiaranONeill.NPV/CiaranONeill.NPV.Silverlight/Service References/NpvServiceReference/NpvService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57934/NpvService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CiaranONeill.NPV.Silverlight.Web" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoWorkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CiaranONeill.NPV.Silverlight.Web" minOccurs="0" name="customer" nillable="true" type="q1:Customer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CiaranONeill.NPV.Silverlight.Web" minOccurs="0" name="GetCustomersResult" nillable="true" type="q2:ArrayOfCustomer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>