CiaranONeill.NPV/CiaranONeill.NPV.Silverlight/Service References/NpvServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CiaranONeill.NPV.Calculator" />
  <xs:element name="GetRandomData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loadKnownValues" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRandomDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRandomDataResult" nillable="true" type="q1:ArrayOfdouble" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateNpv">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CiaranONeill.NPV.Calculator" minOccurs="0" name="npvData" nillable="true" type="q2:ArrayOfNpvData" />
        <xs:element minOccurs="0" name="rate" type="xs:double" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CiaranONeill.NPV.Calculator" minOccurs="0" name="rolloverType" type="q3:RolloverType" />
        <xs:element minOccurs="0" name="useXnpvFormula" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateNpvResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateNpvResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>